.Wrapper
{   background: #fafafa;
    margin-top: 100px;
    padding: 60px 0 60px;
    .Wrapper_body
    {
        .add-course-header
        {     
           display: flex;
           justify-content: space-between;
           padding-bottom: 60px;
            .add-course-btns
            {   
                .nav
                {    display: flex;
                    flex-wrap: wrap;
                    padding-left: 0;
                    align-items: center;
                    margin-bottom: 0;
                    list-style: none;
                        li {
                            .btn_back
                             {   display: block;
                                text-align: center;
                                text-decoration: none;
                                font-weight: 600;
                                font-size: 16px;
                                padding: 13px 15px;
                                min-width: 170px;
                                background: #263238;
                                border: 1px solid #263238;
                                color: #fff;
                                border-radius: 5px;
                                margin-right: 17px;
                            }
                            .btn_save
                            {
                                font-weight: 600;
                                font-size: 16px;
                                padding: 13px 15px;
                                min-width: 170px;
                                background: #159F46;
                                border: 1px solid #159F46;
                                color: #fff;
                                border-radius: 5px;
                                text-align: center;
                            }
                            .btn_save:hover
                            {
                            cursor: pointer;
                            }
                        }
                }
            }
        }
        .card 
        {   
            border-radius: 10px;
            border: 1px solid #e9ecef;
            margin-bottom: 1.875rem;
            .widget_set
            {
                .widget_setcount
                {    padding: 30px 30px 30px;
                    margin-bottom: 30px;
                    border-bottom: 1px solid rgb(199 199 199 / 25%);
                    .progress_bar
                    {  
                        padding: 0;
                        margin: 0;
                        display: flex;
                        list-style: none;
                        li 
                        {   margin-right: 30px;
                            display: inline-block;
                            position: relative;
                            p
                            {
                                font-weight: 500;
                                color: #22100D;
                                display: inline-flex;
                                align-items: center;
                                margin-bottom: 0;
                                padding-top: 20px;
                                border-top: 4px solid #C1C9D2;
                                min-width: 173px;
                                span {
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50px;
                                    margin-right: 6px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #8792A2;
                                    background-color: #fff;
                                   
                                }
                            }
                           
                        }
                        .progress_active p {
                            border-top: 5px solid #159F46 !important;
                        }
                        .progress_active span {
                            color: #159F46 !important;
                            border-color: #159F46 !important;
                            position: relative;
                            border: 5px solid #159f46 !important
                                 }
                            }
                        }
                        .widget-btn
                        {
                            display: flex;
                            padding: 15px 15px;
                            border-top: 1px solid rgb(199 199 199 / 25%);
                            align-items: center;
                            justify-content: space-between;
                            .btn {
                                font-size: 14px;
                                font-weight: 600;
                                min-width: 170px;
                                padding: 13px 15px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .btn-black
                            {
                                background: #263238;
                                border: 1px solid #263238;
                                color: #fff;
                                border-radius: 5px;
                                
                            }
                            .btn-info-light
                            {
                                color: #fff;
                                background: #1D9CFD;
                                border: 1px solid #1D9CFD;
                                border-radius: 5px;
                             
                            }
                        }
                }
            }
        }
        .Modal_lesson
        {   align-items: center;
            bottom: 0;
            display: flex;
            justify-content: center;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 999;
            .Modal_body
             {  
                background-color: #fff;
                border-radius: 10px;
                max-width: 90vw;
                position: absolute;
                padding: 30px;
                width: 600px;
                z-index: 1;
                .Modal_header
                {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    padding: 20px 16px 16px;
                    align-items: center;
                    h4 {
                        color: #F66962;
                    }
                    button 
                    {
                        background-color: #fff;
                        border: none;
                        border-radius: 50%;
                        cursor: pointer;
                        font-size: 20px;
                        height: 36px;
                        line-height: 1px;
                        outline: none;
                        width: 36px;
                        color: #f05123;
                    }
                }
                form 
                {   margin-top: 15px;
                    .form_lesson_group
                    {     display: flex;
                         flex-direction: column;
                         margin-bottom: 20px;
                        .form_lesson_label
                        {
                            font-weight: 500;
                            color: #685F78;
                            margin-bottom: 10px;
                        }
                        .form_lesson_control
                        {
                            background: #FFFFFF;
                            border: 1px solid #e9ecef;
                            border-radius: 5px;
                            min-height: 40px;
                            padding: 6px 15px 6px 15px;
                            color: #26292c;
                            font-size: 15px;
                            outline: none;
                        }
                    }
                }
                .Save_lesson_btn
                {
                 margin-top: 10px;
                 margin-left: auto;
                 margin-right: auto;
                 display: block;
                 font-weight: 600;
                 font-size: 14px;
                 padding: 13px 15px;
                 min-width: 170px;
                 background: #159F46;
                 border: 1px solid #159F46;
                 color: #fff;
                 border-radius: 10px;
               
                }
                .Save_lesson_btn:hover {
                    background: #fff;
                    border: 1px solid #159F46;
                    color: #159F46;
                }
             }
             .Modal_overlay
             {
                background-color: rgba(0,0,0,0.3);
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
             }
        }
    }
