.navbar_admin
{   left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    height: 95px;
    background-color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    transition-duration: 0.4s;
    background: #fff;
    padding-top: 0;
    margin: 0;
    .container
    {
        height: 100%;
    }
    .navbar_content
    {    display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        .navbar_logo
        {
            img {
                width: 150px;
            }
        }
        .navbar_navigate
        {    
            .navbar_header
            {   display: flex;
                list-style: none;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                .navbar_item
                {  padding-right: 20px;
                    .btn_logout
                    {
                        border: none;
                        background-color: #FF875A;
                        padding: 8px;
                        border-radius: 5px;
                        color: #fff;
                        font-weight: 500;
                    }
                    .user_avatar
                    {
                        img {
                            height: 50px;
                            object-fit: cover;
                            width: 50px;
                            border-radius: 50%;
                            border: 3px solid #E0E0E0;
                        }
                    }
                }
                .navbar_item:hover
                {
                    cursor: pointer;
                }
            }
        }
    }
}