.faq_grid
{ background: #FFFFFF;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-bottom: 16px;
  .faq_header
  {
    color: #000000;
    font-weight: 600;
    width: 100%;
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .faq_icon
    {  display: flex;
      align-items: center;
      span {
        font-size: 20px;
        margin-right: 10px;
        color: #757575;
        margin-left: 10px;
      }
    }
  }
  .faq_header:hover
  {
    cursor: pointer;
  }
  .faq_right:hover
  {
    cursor: pointer;
  }
  .Lesson_Detail
  {  padding: 8px;
    .Player_content
    {
      font-size: 14px;
      margin-bottom: 15px;
      color: #F66962;;
    }
    .Player_wrapper
 {   position: relative;
     padding-top: 56.25%;
    .React_player
        {
            position: absolute;
            top: 0;
            left: 0;
        }
 }
  }
}