.course_wrapper
{   border: 1px solid #e9ecef;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #ffffff;

    .course_header
    {  padding: 25px;
        border-bottom: 1px solid rgba(199, 199, 199, 0.25);
        .Add_course
        {  
            margin-top: 20px;
            button {
                border: none;
                margin-left: 10px;
                padding: 10px;
                border-radius: 10px;
                font-size: 15px;
                font-weight: 500;
                background-color: #f8a600;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        h4 {
            color: #392C7D;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 0;
        }
        p{
            color: #303030;
            margin-bottom: 0;
            font-weight: 500;
            margin-top: 15px;
        }
    }
    .course_body
    {
        padding: 25px;
        margin-bottom: 25px;
        max-height: 600px;
        overflow: scroll;
        .table_course
        {
            width: 100%;
            color: #212529;
            border-color: #dee2e6;
            thead
            {
                tr {
                    font-size: 15px;
                    font-weight: 500;
                    background-color: #F0F0F0;
                    border-radius: 5px;
                    th {
                        padding: 0.5rem 0.5rem;
                        border-bottom-width: 1px;
                     
                    }
                }
            }
            tbody {
                tr:hover 
                {
                    cursor: pointer;
                }
                tr {
                    border-bottom:1px solid #dee2e6;;
                    td {  padding-top: 16px;
                          padding-bottom: 16px;
                          font-size: 15px;
                         .course_info
                         {   display: flex;
                            align-items: center;
                            box-sizing: border-box;
                             .course_img {
                                width: 150px;
                                height: 112px;
                                margin-right: 20px;
                                img {
                                    max-width: 100%;
                                    height: auto;
                                }
                                }
                             }
                             .course_detail
                             {
                                max-width: 270px;
                                p {
                                    font-size: 16px;
                                    color: #000;
                                    font-weight: 500;
                                }
                                .course_attribute
                                {
                                    display: flex;
                                    margin: 7px 0px;
                                    justify-content: space-between;
                                    width: 270px;
                                    .course_price
                                    {
                                            display: flex;
                                            align-items: center;
                                            svg 
                                            {
                                                color: #f66962;
                                            }
                                            p {
                                                font-weight: 500;
                                                margin-bottom: 0;
                                                font-size: 16px;
                                                margin-left: 12px;
                                            }
                                    }
                                    .course_view
                                    {
                                            display: flex;
                                            align-items: center;
                                            p {
                                                font-weight: 500;
                                                margin-bottom: 0;
                                                font-size: 16px;
                                                margin-left: 12px;
                                            }
                                            svg 
                                            {
                                                color: #f66962;
                                            }
                                    }
                                }
                             }
                         }
                         .student
                         {
                            padding-left: 15px;
                         }
                         .active_course
                         {
                            min-width: 79px;
                            padding: 7px 10px;
                            background: #159F46;
                            display: inline-block;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 1;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            border-radius: 0.25rem;
                         }
                         .disable_course
                         {
                            min-width: 79px;
                            padding: 7px 10px;
                            background: #dddddd;
                            display: inline-block;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 1;
                            color: #999999;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            border-radius: 0.25rem;
                         }
                    }
                }
            }
        }
    }
